{% extends "layout.html" %}
{% block content %}
<h2>This is Team 1's NFL Statistics website. These are the features that this website supports:</h2>
<ul>
    <li><strong>Random Trivia</strong> - Click this link to see a random NFL trivia. The random NFL trivia is either a random game in the past, or a random NFL player and their info.</li>
    <li><strong>Team Schedule</strong> - Click this link to find a team schedule for the current season.</li>
    <li><strong>News</strong> - Click this link to find random latest NFL News.</li>
    <li><strong>Offensive Team Stats</strong> - Click this link to see which teams are currently leading in offensive stats.</li>
    <li><strong>QB Completion Percentages</strong> - Click this link to see the rank of starting Quarterback Completion Percentages.</li>
    <li><strong>Team Scores</strong> - Click this link to find team scores for the current seasion.</li>
    <li><strong>Team Standings</strong> - Click this link to find the current team standings.</li>
    <li><strong>About</strong> - Click this link to see the team members.</li>
</ul>
{% endblock %}
