{% extends "layout.html" %}

{% block content %}
<h3>Welcome to Team Scores Search</h3>
<span>Select a team below to see scores from this season.</span>

<div>
    <form method="POST" action="/teamScores">  
        {{ form.hidden_tag() }}
        <div>{{ form.teamName.label }} {{ form.teamName(size=20, class_='teams') }}</div>
        <p>{{ form.submit(class_='teams') }}</p>
    </form>	
    {% if object.tName %}
    <div>
      <table>
          <tr>
              <th>{{object.tName}}</th>
          </tr>
          <tr>
              <th>Week #</th>
              <th>Team  |</th>
              <th>First Quarter |</th>
              <th>Second Quarter    |</th>
              <th>Third Quarter |</th>
              <th>Fourth Quarter    |</th>
              <th>Overtime  |</th>
              <th>Total</th>
          </tr>
          <tr>
            <td>{{object.week1.weekNum}}</td>
            <td>{{object.week1.HomeTeam}}</td>
            <td>{{object.week1.HomeQ1}}</td>
            <td>{{object.week1.HomeQ2}}</td>
            <td>{{object.week1.HomeQ3}}</td>
            <td>{{object.week1.HomeQ4}}</td>
            <td>{{object.week1.HomeOT}}</td>
            <td>{{object.week1.HomeTotal}}</td>
          </tr>
          <tr>
            <td>{{object.week1.weekNum}}</td>
            <td>{{object.week1.AwayTeam}}</td>
            <td>{{object.week1.AwayQ1}}</td>
            <td>{{object.week1.AwayQ2}}</td>
            <td>{{object.week1.AwayQ3}}</td>
            <td>{{object.week1.AwayQ4}}</td>
            <td>{{object.week1.AwayOT}}</td>
            <td>{{object.week1.AwayTotal}}</td>
          </tr>
          <tr>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
          </tr>
          <tr>
            <td>{{object.week2.weekNum}}</td>
            <td>{{object.week2.HomeTeam}}</td>
            <td>{{object.week2.HomeQ1}}</td>
            <td>{{object.week2.HomeQ2}}</td>
            <td>{{object.week2.HomeQ3}}</td>
            <td>{{object.week2.HomeQ4}}</td>
            <td>{{object.week2.HomeOT}}</td>
            <td>{{object.week2.HomeTotal}}</td>
          </tr>
          <tr>
            <td>{{object.week2.weekNum}}</td>
            <td>{{object.week2.AwayTeam}}</td>
            <td>{{object.week2.AwayQ1}}</td>
            <td>{{object.week2.AwayQ2}}</td>
            <td>{{object.week2.AwayQ3}}</td>
            <td>{{object.week2.AwayQ4}}</td>
            <td>{{object.week2.AwayOT}}</td>
            <td>{{object.week2.AwayTotal}}</td>
          </tr>
          <tr>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
          </tr>
          <tr>
            <td>{{object.week3.weekNum}}</td>
            <td>{{object.week3.HomeTeam}}</td>
            <td>{{object.week3.HomeQ1}}</td>
            <td>{{object.week3.HomeQ2}}</td>
            <td>{{object.week3.HomeQ3}}</td>
            <td>{{object.week3.HomeQ4}}</td>
            <td>{{object.week3.HomeOT}}</td>
            <td>{{object.week3.HomeTotal}}</td>
          </tr>
          <tr>
            <td>{{object.week3.weekNum}}</td>
            <td>{{object.week3.AwayTeam}}</td>
            <td>{{object.week3.AwayQ1}}</td>
            <td>{{object.week3.AwayQ2}}</td>
            <td>{{object.week3.AwayQ3}}</td>
            <td>{{object.week3.AwayQ4}}</td>
            <td>{{object.week3.AwayOT}}</td>
            <td>{{object.week3.AwayTotal}}</td>
          </tr>
          <tr>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
          </tr>
          <tr>
            <td>{{object.week4.weekNum}}</td>
            <td>{{object.week4.HomeTeam}}</td>
            <td>{{object.week4.HomeQ1}}</td>
            <td>{{object.week4.HomeQ2}}</td>
            <td>{{object.week4.HomeQ3}}</td>
            <td>{{object.week4.HomeQ4}}</td>
            <td>{{object.week4.HomeOT}}</td>
            <td>{{object.week4.HomeTotal}}</td>
          </tr>
          <tr>
            <td>{{object.week4.weekNum}}</td>
            <td>{{object.week4.AwayTeam}}</td>
            <td>{{object.week4.AwayQ1}}</td>
            <td>{{object.week4.AwayQ2}}</td>
            <td>{{object.week4.AwayQ3}}</td>
            <td>{{object.week4.AwayQ4}}</td>
            <td>{{object.week4.AwayOT}}</td>
            <td>{{object.week4.AwayTotal}}</td>
          </tr>
          <tr>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
          </tr>
          <tr>
            <td>{{object.week5.weekNum}}</td>
            <td>{{object.week5.HomeTeam}}</td>
            <td>{{object.week5.HomeQ1}}</td>
            <td>{{object.week5.HomeQ2}}</td>
            <td>{{object.week5.HomeQ3}}</td>
            <td>{{object.week5.HomeQ4}}</td>
            <td>{{object.week5.HomeOT}}</td>
            <td>{{object.week5.HomeTotal}}</td>
          </tr>
          <tr>
            <td>{{object.week5.weekNum}}</td>
            <td>{{object.week5.AwayTeam}}</td>
            <td>{{object.week5.AwayQ1}}</td>
            <td>{{object.week5.AwayQ2}}</td>
            <td>{{object.week5.AwayQ3}}</td>
            <td>{{object.week5.AwayQ4}}</td>
            <td>{{object.week5.AwayOT}}</td>
            <td>{{object.week5.AwayTotal}}</td>
          </tr>
          <tr>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
          </tr>
          <tr>
            <td>{{object.week6.weekNum}}</td>
            <td>{{object.week6.HomeTeam}}</td>
            <td>{{object.week6.HomeQ1}}</td>
            <td>{{object.week6.HomeQ2}}</td>
            <td>{{object.week6.HomeQ3}}</td>
            <td>{{object.week6.HomeQ4}}</td>
            <td>{{object.week6.HomeOT}}</td>
            <td>{{object.week6.HomeTotal}}</td>
          </tr>
          <tr>
            <td>{{object.week6.weekNum}}</td>
            <td>{{object.week6.AwayTeam}}</td>
            <td>{{object.week6.AwayQ1}}</td>
            <td>{{object.week6.AwayQ2}}</td>
            <td>{{object.week6.AwayQ3}}</td>
            <td>{{object.week6.AwayQ4}}</td>
            <td>{{object.week6.AwayOT}}</td>
            <td>{{object.week6.AwayTotal}}</td>
          </tr>
          <tr>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
          </tr>
          <tr>
            <td>{{object.week7.weekNum}}</td>
            <td>{{object.week7.HomeTeam}}</td>
            <td>{{object.week7.HomeQ1}}</td>
            <td>{{object.week7.HomeQ2}}</td>
            <td>{{object.week7.HomeQ3}}</td>
            <td>{{object.week7.HomeQ4}}</td>
            <td>{{object.week7.HomeOT}}</td>
            <td>{{object.week7.HomeTotal}}</td>
          </tr>
          <tr>
            <td>{{object.week7.weekNum}}</td>
            <td>{{object.week7.AwayTeam}}</td>
            <td>{{object.week7.AwayQ1}}</td>
            <td>{{object.week7.AwayQ2}}</td>
            <td>{{object.week7.AwayQ3}}</td>
            <td>{{object.week7.AwayQ4}}</td>
            <td>{{object.week7.AwayOT}}</td>
            <td>{{object.week7.AwayTotal}}</td>
          </tr>
          <tr>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
          </tr>
          <tr>
            <td>{{object.week8.weekNum}}</td>
            <td>{{object.week8.HomeTeam}}</td>
            <td>{{object.week8.HomeQ1}}</td>
            <td>{{object.week8.HomeQ2}}</td>
            <td>{{object.week8.HomeQ3}}</td>
            <td>{{object.week8.HomeQ4}}</td>
            <td>{{object.week8.HomeOT}}</td>
            <td>{{object.week8.HomeTotal}}</td>
          </tr>
          <tr>
            <td>{{object.week8.weekNum}}</td>
            <td>{{object.week8.AwayTeam}}</td>
            <td>{{object.week8.AwayQ1}}</td>
            <td>{{object.week8.AwayQ2}}</td>
            <td>{{object.week8.AwayQ3}}</td>
            <td>{{object.week8.AwayQ4}}</td>
            <td>{{object.week8.AwayOT}}</td>
            <td>{{object.week8.AwayTotal}}</td>
          </tr>
          <tr>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
          </tr>
          <tr>
            <td>{{object.week9.weekNum}}</td>
            <td>{{object.week9.HomeTeam}}</td>
            <td>{{object.week9.HomeQ1}}</td>
            <td>{{object.week9.HomeQ2}}</td>
            <td>{{object.week9.HomeQ3}}</td>
            <td>{{object.week9.HomeQ4}}</td>
            <td>{{object.week9.HomeOT}}</td>
            <td>{{object.week9.HomeTotal}}</td>
          </tr>
          <tr>
            <td>{{object.week9.weekNum}}</td>
            <td>{{object.week9.AwayTeam}}</td>
            <td>{{object.week9.AwayQ1}}</td>
            <td>{{object.week9.AwayQ2}}</td>
            <td>{{object.week9.AwayQ3}}</td>
            <td>{{object.week9.AwayQ4}}</td>
            <td>{{object.week9.AwayOT}}</td>
            <td>{{object.week9.AwayTotal}}</td>
          </tr>
          <tr>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
          </tr>
          <tr>
            <td>{{object.week10.weekNum}}</td>
            <td>{{object.week10.HomeTeam}}</td>
            <td>{{object.week10.HomeQ1}}</td>
            <td>{{object.week10.HomeQ2}}</td>
            <td>{{object.week10.HomeQ3}}</td>
            <td>{{object.week10.HomeQ4}}</td>
            <td>{{object.week10.HomeOT}}</td>
            <td>{{object.week10.HomeTotal}}</td>
          </tr>
          <tr>
            <td>{{object.week10.weekNum}}</td>
            <td>{{object.week10.AwayTeam}}</td>
            <td>{{object.week10.AwayQ1}}</td>
            <td>{{object.week10.AwayQ2}}</td>
            <td>{{object.week10.AwayQ3}}</td>
            <td>{{object.week10.AwayQ4}}</td>
            <td>{{object.week10.AwayOT}}</td>
            <td>{{object.week10.AwayTotal}}</td>
          </tr>
          <tr>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
          </tr>
          <tr>
            <td>{{object.week11.weekNum}}</td>
            <td>{{object.week11.HomeTeam}}</td>
            <td>{{object.week11.HomeQ1}}</td>
            <td>{{object.week11.HomeQ2}}</td>
            <td>{{object.week11.HomeQ3}}</td>
            <td>{{object.week11.HomeQ4}}</td>
            <td>{{object.week11.HomeOT}}</td>
            <td>{{object.week11.HomeTotal}}</td>
          </tr>
          <tr>
            <td>{{object.week11.weekNum}}</td>
            <td>{{object.week11.AwayTeam}}</td>
            <td>{{object.week11.AwayQ1}}</td>
            <td>{{object.week11.AwayQ2}}</td>
            <td>{{object.week11.AwayQ3}}</td>
            <td>{{object.week11.AwayQ4}}</td>
            <td>{{object.week11.AwayOT}}</td>
            <td>{{object.week11.AwayTotal}}</td>
          </tr>
          <tr>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
          </tr>
          <tr>
            <td>{{object.week12.weekNum}}</td>
            <td>{{object.week12.HomeTeam}}</td>
            <td>{{object.week12.HomeQ1}}</td>
            <td>{{object.week12.HomeQ2}}</td>
            <td>{{object.week12.HomeQ3}}</td>
            <td>{{object.week12.HomeQ4}}</td>
            <td>{{object.week12.HomeOT}}</td>
            <td>{{object.week12.HomeTotal}}</td>
          </tr>
          <tr>
            <td>{{object.week12.weekNum}}</td>
            <td>{{object.week12.AwayTeam}}</td>
            <td>{{object.week12.AwayQ1}}</td>
            <td>{{object.week12.AwayQ2}}</td>
            <td>{{object.week12.AwayQ3}}</td>
            <td>{{object.week12.AwayQ4}}</td>
            <td>{{object.week12.AwayOT}}</td>
            <td>{{object.week12.AwayTotal}}</td>
          </tr>
          <tr>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
          </tr>
          <tr>
            <td>{{object.week13.weekNum}}</td>
            <td>{{object.week13.HomeTeam}}</td>
            <td>{{object.week13.HomeQ1}}</td>
            <td>{{object.week13.HomeQ2}}</td>
            <td>{{object.week13.HomeQ3}}</td>
            <td>{{object.week13.HomeQ4}}</td>
            <td>{{object.week13.HomeOT}}</td>
            <td>{{object.week13.HomeTotal}}</td>
          </tr>
          <tr>
            <td>{{object.week13.weekNum}}</td>
            <td>{{object.week13.AwayTeam}}</td>
            <td>{{object.week13.AwayQ1}}</td>
            <td>{{object.week13.AwayQ2}}</td>
            <td>{{object.week13.AwayQ3}}</td>
            <td>{{object.week13.AwayQ4}}</td>
            <td>{{object.week13.AwayOT}}</td>
            <td>{{object.week13.AwayTotal}}</td>
          </tr>
          <tr>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
          </tr>
          <tr>
            <td>{{object.week14.weekNum}}</td>
            <td>{{object.week14.HomeTeam}}</td>
            <td>{{object.week14.HomeQ1}}</td>
            <td>{{object.week14.HomeQ2}}</td>
            <td>{{object.week14.HomeQ3}}</td>
            <td>{{object.week14.HomeQ4}}</td>
            <td>{{object.week14.HomeOT}}</td>
            <td>{{object.week14.HomeTotal}}</td>
          </tr>
          <tr>
            <td>{{object.week14.weekNum}}</td>
            <td>{{object.week14.AwayTeam}}</td>
            <td>{{object.week14.AwayQ1}}</td>
            <td>{{object.week14.AwayQ2}}</td>
            <td>{{object.week14.AwayQ3}}</td>
            <td>{{object.week14.AwayQ4}}</td>
            <td>{{object.week14.AwayOT}}</td>
            <td>{{object.week14.AwayTotal}}</td>
          </tr>
          <tr>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
          </tr>
          <tr>
            <td>{{object.week15.weekNum}}</td>
            <td>{{object.week15.HomeTeam}}</td>
            <td>{{object.week15.HomeQ1}}</td>
            <td>{{object.week15.HomeQ2}}</td>
            <td>{{object.week15.HomeQ3}}</td>
            <td>{{object.week15.HomeQ4}}</td>
            <td>{{object.week15.HomeOT}}</td>
            <td>{{object.week15.HomeTotal}}</td>
          </tr>
          <tr>
            <td>{{object.week15.weekNum}}</td>
            <td>{{object.week15.AwayTeam}}</td>
            <td>{{object.week15.AwayQ1}}</td>
            <td>{{object.week15.AwayQ2}}</td>
            <td>{{object.week15.AwayQ3}}</td>
            <td>{{object.week15.AwayQ4}}</td>
            <td>{{object.week15.AwayOT}}</td>
            <td>{{object.week15.AwayTotal}}</td>
          </tr>
          <tr>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
              <td>-----</td>
          </tr>
          <tr>
            <td>{{object.week16.weekNum}}</td>
            <td>{{object.week16.HomeTeam}}</td>
            <td>{{object.week16.HomeQ1}}</td>
            <td>{{object.week16.HomeQ2}}</td>
            <td>{{object.week16.HomeQ3}}</td>
            <td>{{object.week16.HomeQ4}}</td>
            <td>{{object.week16.HomeOT}}</td>
            <td>{{object.week16.HomeTotal}}</td>
          </tr>
          <tr>
            <td>{{object.week16.weekNum}}</td>
            <td>{{object.week16.AwayTeam}}</td>
            <td>{{object.week16.AwayQ1}}</td>
            <td>{{object.week16.AwayQ2}}</td>
            <td>{{object.week16.AwayQ3}}</td>
            <td>{{object.week16.AwayQ4}}</td>
            <td>{{object.week16.AwayOT}}</td>
            <td>{{object.week16.AwayTotal}}</td>
          </tr>
        </table>
	</div>
	{% endif %}
{% endblock %}